<% provide(:title, 'Messages') %>

	<aside id="fh5co-hero" style="background-image: url(<%= asset_path("images/greece.jpg") %> );">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
								<h2>Create messages<span></span></h2>
								<h1>Message Center</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>

<div id="fh5co-main">

		<div class="container">
			<div class="col-md-12">
      <%= render 'shared/flash_messages' if !flash.empty? %>
      </div>

			<div class="row">

        <% if @messages.count > 0 %>
        
          <h1>Messages for <%= @username %></h1>
          <h2>Inbox</h2>
          
          <div class="table-responsive">
          <table class="table table-hover ">
            <thead>
              <tr>
                <th>Sender</th>
                <th>Message</th>
                <th></th>
              </tr>
            </thead>
          
            <tbody>
              <% @messages.each do |message| %>
                <tr>
                  <% if message.wasread? %>
                    <td><strong><%= message.sender %></strong></td>
                    <td><strong><%= message.message %></strong></td>
                  <% else %>
                    <td><a href="/users/<%= message.recipid %>"><%= message.sender %></a></td>
                    <td><%= message.message %></td>
                  <% end %>
                  <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure you want to delete this message?' } %></td>
                  <td><%= link_to 'Reply', new_message_path(:recipient => message.sender) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        <% else %>
          <h2>Inbox is empty</h2>
        <% end %>
        
        <%= link_to 'New Message', new_message_path, class:"btn btn-lg btn-primary", role:"button"  %>
      </div>
    </div>
        
		<div class="container">
			<div class="row">
        <% if @sent_messages.count > 0 %>
        <h2>Sent Messages</h2>
        
        <div class="table-responsive">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th>Sender</th>
              <th>Recipient</th>
              <th>Message</th>
            </tr>
          </thead>
        
          <tbody>
            <% @sent_messages.each do |message| %>
              <tr>
                <td><%= message.sender %></td>
                <td><%= message.recipient %></td>
                <td><%= message.message %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
        <% end %>
      </div>
    </div>
  </div>
