<!--<p id="notice"><%= notice %></p>-->
<br>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<p>
  <strong>Sender:</strong>
  <%= @message.sender %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @message.recipient %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>


<%= link_to 'Edit', edit_message_path(@message), class:"btn btn-lg btn-primary", role:"button" %>
<%= link_to 'Back', messages_path, class:"btn btn-lg btn-primary", role:"button" %>
</div>
</div>