<% provide(:title, "Log in") %>
	<!--<aside id="fh5co-hero" style="background-image: url(images/japan-08.jpg);">-->
	<aside id="fh5co-hero" style="background-image: url(<%= asset_path("images/fuji_00.jpg") %>);">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
								<h2>Log in<span></span></h2>
								<h1>Welcome back!</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	
<div id="fh5co-main">

        <section>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2 class="fh5co-uppercase-heading-sm text-center">Please Enter Account Info</h2>
								
							</div>
							
							<%= render 'shared/flash_messages' if !flash.empty? %>

							 
							<div class="col-md-8 col-md-offset-2">
								<%= form_for(:session, url: login_path) do |f| %>
								
								<div class="col-md-12">
								<div class="form-group">
								<%= f.label :email, class: 'sr-only' %>
								<%= f.email_field :email, class: 'form-control input-lg', placeholder:'Email' %>
								</div>
								</div>
								
								<div class="col-md-12">
								<div class="form-group">
								<%= f.label :password, class: 'sr-only' %>
								<%= f.password_field :password, class: 'form-control input-lg', placeholder:'Password' %>
								</div>
								</div>
								                        
								<div class="col-md-6">
								<div class="form-group">
								<%= f.submit "Login", class: "btn btn-primary" %>
								</div>
								</div>
								
								<div class="col-md-6">
								<div class="form-group">
								<%= f.label :remember_me, class: "checkbox inline" do %>
								  <%= f.check_box :remember_me %>
								  <span>Remember me</span>
								<% end %>
								</div>
								</div>
								<% end %>
							</div>
							<div class="col-md-12 text-center">
					        Are you a new user? <%= link_to "Sign up by clicking here!", signup_path %>
			        </div>
						</div>

					</div>
				</section>
</div>