<% provide(:title, @heading) %>
	<aside id="fh5co-hero" style="background-image: url(<%= asset_path("images/spinx_-_Roderick_Eime.jpg") %>);">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
								<h2>Users<span></span></h2>
								<h1><%= @heading %></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>

<div id="fh5co-main">

	<%= render 'shared/flash_messages' if !flash.empty? %>

					<section>
					<div class="container">
						<div class="row">
							<div class="col-md-8">
	              <ul style="list-style-type: none">
                  <% @friends.each do |u| %>
                  <li>
                    <%= gravatar_for_friend u, size: 50 %>
                    <%= link_to u.friend_name, user_path(u.friend) %>
                  </li>
                	<div class="fh5co-spacer fh5co-spacer-xxs"></div>
                  <% end %>
	              </ul>
							</div>

						</div>
					</div>
				</section>
</div>