<% provide(:title, "Edit user") %>

	<aside id="fh5co-hero" style="background-image: url(<%= asset_path("images/travel_airplane.jpg") %>);">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
								<h2>User Profile<span></span></h2>
								<h1>Update Your Information</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	
<div id="fh5co-main">

                <section>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2 class="fh5co-uppercase-heading-sm text-center">Please Enter Account Info</h2>
								<div class="fh5co-spacer fh5co-spacer-sm"></div>
							</div>
							<div class="col-md-8 col-md-offset-2">
							<%= form_for(@user) do |f| %>
                    <%= render 'shared/error_messages' %>
                                
										<div class="col-md-6">
										<div class="form-group">
										<%= f.label :name, class: 'sr-only' %>
										<%= f.text_field :name, class: 'form-control input-lg', placeholder:'Your Name' %>
										</div>
										</div>
										
										<div class="col-md-6">
										<div class="form-group">
										<%= f.label :email, class: 'sr-only' %>
										<%= f.email_field :email, class: 'form-control input-lg', placeholder:'Email' %>
										</div>
										</div>
										
										<div class="col-md-12">
										<div class="form-group">
										<%= f.label :password, class: 'sr-only' %>
										<%= f.password_field :password, class: 'form-control input-lg', placeholder:'Password' %>
										</div>
										</div>
										
										<div class="col-md-12">
										<div class="form-group">
										<%= f.label :password_confirmation, "Confirm Password", class: 'sr-only' %>
										<%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder:'Confirm Password' %>
										</div>
										</div>
										
										<% if current_user.usertype == 2 %>
											<div class="col-md-6">
											<div class="form-group">										
											<%= f.label :usertype, "Create Packages" %>
											<%= f.check_box :usertype %>
											</div>
											</div>
											<div class="col-md-6">
											<div class="form-group">
											<%= f.label :active, "Active" %>
											<%= f.check_box :active %>
											</div>
											</div>
										<% end %>
										
										
										
										<div class="col-md-6">
										<div class="form-group">
										<%= f.submit "Save changes", class: "btn btn-primary" %>
										</div>
										</div>
                <% end %>
							</div>
						</div>

					</div>
				</section>
</div>