<% provide(:title, 'Search') %>

	<aside id="fh5co-hero" style="background-image: url(<%= asset_path("images/fuji_00.jpg") %> );">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
								<h2>Find a destination<span></span></h2>
								<h1>Travel Packages</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>


<div id="fh5co-main">
<% if @travel_packages.count > 0 %>
<section>
<div class="container">
<div class="row">
  <div class="table-responsive">
  <table class="table table-condensed table-hover ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Destination</th>
        <th>Airport</th>
        <th>Flight number </th>
        <th>Flight departure</th>
        <th>Flight arrival</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @travel_packages.each do |travel_package| %>
        <tr>
          <td><%= link_to travel_package.name, travel_package %></td>
          <!--<td><%= travel_package.price %></td>-->
          <td><%= number_to_currency(travel_package.price, precision: 0) %></td>
          <td><%= travel_package.location %></td>
          <td><%= travel_package.airport %></td>
          <td><%= travel_package.flight_num %></td>
          <td><%= travel_package.flight_depart %></td>
          <td><%= travel_package.flight_arrive %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>
</section>
<% else %>
<section>
<div class="container">
<div class="row">
  <h2>Sorry, there were no results that matched your search.</h2>
</div></div></section>
<% end %>

    <section>
    <div class="container">
    	<div class="row">

    		<div class="col-md-8 col-md-offset-2 text-center fh5co-lead-wrap">
    			<h2 class="fh5co-uppercase-heading-sm text-center">Please enter new search criteria</h2>

    		    <div class="col-md-8 col-md-offset-2">
    			    <%= form_tag(searchresults_path, :method => "get", id: "search-form") do %>
    					<div class="col-md-12">
    					<div class="form-group">
                        <%= text_field_tag("search", nil, class: "form_control input-lg", placeholder:"Enter search") %>
                        </div>
                        </div>
                        <div class="col-md-12">
    					<div class="form-group">
                        <%= submit_tag("Go", :name => nil, class: "btn btn-lg btn-primary", role: "button" ) %>
                        </div>
                        </div>
                    <% end %>
				</div>
						
					<div class="fh5co-spacer fh5co-spacer-sm"></div>
				</div>
    		
    		</div>
    
    	</div>
    	
    	<div class="fh5co-spacer fh5co-spacer-xxs"></div>
    </section>
    
</div>    