<!-- START #fh5co-header -->
			<header id="fh5co-header-section" role="header" class="" >
				<div class="container">
					
					<!-- START #fh5co-logo, has Site Title-->
					<h1 id="fh5co-logo" class="pull-left"><%= link_to "WeLuv2Travel", root_path, id: "logo" %></h1>
					
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><%= link_to "About", about_path %></li>

            <% if logged_in? %>
              <li><%= link_to "Search", search_url %></li>
              <li><%= link_to "Users", users_path %></li>
              <% if current_user.usertype == 2 %>
                <li><%= link_to "Packages", travel_packages_path %></li>
              <% end %>

              <% if (get_friends.count > 0) %>
                <li>
                  <a href="#" class="fh5co-sub-ddown">Following</a>
                  <ul class="fh5co-sub-menu">
                      <% get_friends.each do |u| %>
                        <li>
                          <%= link_to u.friend_name, user_path(u.friend) %>
                        </li>
                        <% end %>
                  </ul>
                </li>   
              <% end %>								
              <li>
									<a href="#" class="fh5co-sub-ddown">Account</a>
									 <ul class="fh5co-sub-menu">
		                <li><%= link_to "Home", home_link %></li>

	 	                <% if message_count == 0 %>
                      <li><%= link_to "Messages", messages_path %></li>
                    <% else %>
                      <li><%= link_to "Messages (#{message_count})", messages_path %></li>
                    <% end %>
									 	<li><%= link_to "My Profile", current_user %></li>
									 	<li><%= link_to "Update Profile", edit_user_path(current_user) %></li>
										<li><%= link_to "Log out", logout_path, method: "delete" %></li> 
									</ul>
								</li>
        	    <% else %>
              	<li><%= link_to "Log in", login_path, class: "btn btn-outline" %></li>
            	<% end %>
          </ul>
        </nav>
      </div>
    </header>